<head>
  <title>Index</title>
</head>
</html>
<body>
  <div class="flex-container">
    <div class="row">
      <div class="flex item">
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"><%= image_tag "surfboard.jpg", alt: "Surf Board", width: 361.66, height: 175 %>
              <div class="card-category"></div>
              <div class="card-description">
                <h2>Surf Board</h2>
                <p>Very cool, the best</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        </div>

        <div class="flex item">
         <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
           <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"><%= image_tag "Kanu.jpg", alt: "Kanu", width: 361.66, height: 175 %>
            <div class="card-category"></div>
            <div class="card-description">
              <h2>Kanu</h2>
              <p>Inflatable!</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>

        </div>
      </div>

      <div class="flex item">
       <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"><%= image_tag "golf.jpg", alt: "Golf Clubs", width: 361.66, height: 175 %>
            <div class="card-category"></div>
            <div class="card-description">
              <h2>Golf Clubs</h2>
              <p>For Beginners and Pros</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>


  <div class="flex-container">
    <div class="row">
      <div class="flex item">
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"><%= image_tag "shotgun.jpg", alt: "Shotgun", width: 361.66, height: 175 %>

              <div class="card-category"></div>
              <div class="card-description">
                <h2>Shotgun</h2>
                <p>Holland & Holland, a Masterpiece</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        </div>

        <div class="flex item">
         <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
           <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"><%= image_tag "bubbleballs.jpg", alt: "bubbleballs", width: 361.66, height: 175 %>

            <div class="card-category"></div>
            <div class="card-description">
              <h2>Bubble Balls</h2>
              <p>Two for the price of one!</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>

        </div>
      </div>

      <div class="flex item">
       <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"><%= image_tag "beachbuggy.jpg", alt: "beachbuggy", width: 361.66, height: 175 %>
            <div class="card-category"></div>
            <div class="card-description">
              <h2>Beach Buggy</h2>
              <p>So much fun!</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>


  <div class="flex-container">
    <div class="row">
      <div class="flex item">
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"><%= image_tag "sailingboat.jpg", alt: "sailingboat.jpg", width: 361.66, height: 175 %>

              <div class="card-category"></div>
              <div class="card-description">
                <h2>Sailing Boat</h2>
                <p>Sailing like a Pro!</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        </div>

        <div class="flex item">
         <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
           <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"><%= image_tag "segelflugzeug.jpg", alt: "segelflugzeug.jpg", width: 361.66, height: 175 %>

            <div class="card-category"></div>
            <div class="card-description">
              <h2>Glider</h2>
              <p>Fly like a Bird!</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>

        </div>
      </div>

      <div class="flex item">
       <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"><%= image_tag "beerbike.jpg", alt: "beerbike.jpg", width: 361.66, height: 175 %>
            <div class="card-category"></div>
            <div class="card-description">
              <h2>Beer Bike</h2>
              <p>Celebrate with your friends!</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
