<div class="container">
<%= simple_form_for(@equipment, as: :equipment, method: :post, url: equipments_path) do |f| %>
  <%= f.input :category %>
  <%= f.input :brand %>
  <%= f.input :product_name %>
  <%= f.input :size %>
  <%= f.input :location %>
  <%= f.input :price_per_day %>
  <%= f.submit "Add a equipment", class: "btn btn-primary" %>
<% end %>
</div>
