<div class="container">
  <div class="title" style="text-align: center;">
    <h1 style="color: #FF5910;">Booking Recored</h1>
    <p>Only for Development for now</p>
  </div>

  <hr>
  <% @bookings.each do |booking| %>
  <div class="card-for-book">
    <% if booking.user == current_user %>
    <p> photo: <%= booking.equipment.photo %> </p>
    <p> product: <%= booking.equipment.product_name %> </p>
    <p> user_id: <%= booking.user.email %> </p>
    <p> starts at: <%= booking.starts_at %> </p>
    <p> ends at: <%= booking.ends_at %> </p>
    <p style="color: #FF5910;"> price: <%= (Date.parse(booking.ends_at.to_s) - Date.parse(booking.starts_at.to_s)).to_i*booking.equipment.price_per_day %></p>
    <% end %>
    </div>
    <br>
  <% end %>
  <br>
  <hr>
</div>
